{% extends 'vk_posts/base.html' %}
{% load static %}
{% block content %}
<div class="d-flex align-items-center h-100">
    <div class="container-profile edit-profile text-center">
        <div class="edit-profile-card">
            <div class="edit-profile-heading">
                <h2>Редактировать профиль</h2>
            </div>

            <div class="form-error">{{ form.errors }}</div>

            <form method="post" class="bootstrap-form text-center" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="edit-profile-card-item">
                    <div class="edit-profile-label">
                        <label class="form-label" for="{{ form.avatar.id_for_label }}">{{ form.avatar.label }}:</label>
                    </div>
                    {{ form.avatar }}
                </div>
                <div class="edit-profile-card-item">
                    <div class="edit-profile-label">
                        <label class="form-label" for="{{ form.bio.id_for_label }}">{{ form.bio.label }}:</label>
                    </div>
                    {{ form.bio }}
                </div>
                <div class="edit-profile-card-item">
                    <div class="edit-profile-label">
                        <label class="form-label" for="{{ form.city.id_for_label }}">{{ form.city.label }}:</label>
                    </div>
                    {{ form.city }}
                </div>
                <div class="edit-profile-card-item">
                    <div class="edit-profile-label">
                        <label class="form-label" for="{{ form.birth_date.id_for_label }}">
                            {{ form.birth_date.label }}:
                        </label>
                    </div>
                    {{ form.birth_date }}
                </div>
                <div class="edit-profile-card-item">
                    <div class="edit-profile-label">
                        <label class="form-label" for="{{ form.gender.id_for_label }}">{{ form.gender.label }}:</label>
                    </div>
                    {{ form.gender }}
                </div>
                <div class="edit-profile-card-item">
                    <div class="edit-profile-label">
                        <label class="form-label" for="{{ form.relationship.id_for_label }}">
                            {{ form.relationship.label }}:
                        </label>
                    </div>
                    {{ form.relationship }}
                </div>

                <input type="submit" class="edit-profile-btn" value="Сохранить">
            </form>
        </div>
    </div>
</div>
{% endblock %}