{% extends 'vk_posts/base.html' %}
{% load static %}
{% block content %}
<div class="d-flex align-items-center h-100">
    <div class="container-profile d-flex justify-content-center text-center">
        <div class="edit-profile-card">
            <div class="edit-profile-heading">
                <h2>Регистрация</h2>
            </div>

            {% if form.non_field_errors %}
            <div class="non-field-errors">
                {% for err in form.non_field_errors %}
                <p class="form-error">{{ err }}</p>
                {% endfor %}
            </div>
            {% endif %}

            <div class="form-error">{{ form.errors }}</div>

            <form method="post" class="bootstrap-form text-center">
                {% csrf_token %}

                <div class="edit-profile-card-item">
                    <div class="edit-profile-label">
                        <label class="form-label" for="{{ form.username.id_for_label }}">
                            {{ form.username.label }}:
                        </label>
                    </div>
                    {{ form.username }}
                </div>
                <div class="edit-profile-card-item">
                    <div class="edit-profile-label">
                        <label class="form-label" for="{{ form.first_name.id_for_label }}">
                            {{ form.first_name.label }}:
                        </label>
                    </div>
                    {{ form.first_name }}
                </div>
                <div class="edit-profile-card-item">
                    <div class="edit-profile-label">
                        <label class="form-label" for="{{ form.last_name.id_for_label }}">
                            {{ form.last_name.label }}:
                        </label>
                    </div>
                    {{ form.last_name }}
                </div>
                <div class="edit-profile-card-item">
                    <div class="edit-profile-label">
                        <label class="form-label" for="{{ form.email.id_for_label }}">{{ form.email.label }}:</label>
                    </div>
                    {{ form.email }}
                </div>
                <div class="edit-profile-card-item">
                    <div class="edit-profile-label">
                        <label class="form-label" for="{{ form.password.id_for_label }}">
                            {{ form.password.label }}:
                        </label>
                    </div>
                    {{ form.password }}
                </div>
                <div class="edit-profile-card-item">
                    <div class="edit-profile-label">
                        <label class="form-label" for="{{ form.password_confirm.id_for_label }}">
                            {{ form.password_confirm.label }}:
                        </label>
                    </div>
                    {{ form.password_confirm }}
                </div>
                <input type="submit" class="edit-profile-btn" value="Регистрация">
            </form>
        </div>
    </div>
</div>
{% endblock %}