<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vkontakte</title>
    <link href="{% static 'vk_posts/css/bootstrap-5/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'vk_posts/css/bootstrap-5/bootstrap-grid.css' %}" rel="stylesheet">
    <link href="{% static 'vk_posts/css/bootstrap-5/bootstrap-reboot.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'vk_posts/css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
    {% include 'vk_posts/messages.html' %}

    {% block content %}
    {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'vk_posts/js/bootstrap-5/bootstrap.min.js' %}"></script>
    <script src="{% static 'vk_posts/js/script.js' %}"></script>
    </body>
</html>
