{% extends 'vk_posts/base.html' %}
{% load static %}
{% block content %}
<div class="home d-flex align-items-center justify-content-center">
    <div class="container">
        <div class="content d-flex flex-column text-center w-50 m-auto">
            <h2>Добро пожаловать в Вконтакте!</h2>
            <div class="content__info">
                <img class="content__info-img" src="{% static 'vk_posts/img/vk.png' %}">
                <div>
                    <a href="{% url 'login' %}" class="btn content__info-btn">Войти</a>
                    <a href="{% url 'register' %}" class="btn content__info-btn">Регистрация</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}