{% extends 'vk_posts/base.html' %}
{% load static %}
{% load random_numbers %}
{% block content %}

<div class="navbar">
    <div class="container-profile">
        <ul class="navbar-menu">
            <li class="navbar-menu-item">
                <a href="{% url 'home' %}">
                    <svg fill="none" height="24" width="136" xmlns="http://www.w3.org/2000/svg">
                        <path d="M0 11.5c0-5.42 0-8.13 1.68-9.82C3.37 0 6.08 0 11.5 0h1c5.42 0 8.13 0 9.82 1.68C24 3.37 24 6.08 24 11.5v1c0 5.42 0 8.13-1.68 9.82C20.63 24 17.92 24 12.5 24h-1c-5.42 0-8.13 0-9.82-1.68C0 20.63 0 17.92 0 12.5z"
                              fill="#2787f5"></path>
                        <g clip-rule="evenodd" fill-rule="evenodd">
                            <path d="M6.5 7.5H4.75c-.5 0-.6.24-.6.5 0 .46.6 2.76 2.76 5.8 1.45 2.07 3.49 3.2 5.34 3.2 1.11 0 1.25-.25 1.25-.68v-1.57c0-.5.1-.6.46-.6.26 0 .7.13 1.74 1.13 1.19 1.19 1.38 1.72 2.05 1.72h1.75c.5 0 .75-.25.6-.74-.15-.5-.72-1.2-1.47-2.05-.4-.49-1.02-1-1.2-1.26-.26-.34-.2-.49 0-.78 0 0 2.13-3 2.35-4.03.11-.37 0-.64-.53-.64H17.5a.76.76 0 00-.76.5s-.9 2.16-2.15 3.57c-.41.41-.6.54-.82.54-.1 0-.27-.13-.27-.5V8.14c0-.44-.13-.64-.5-.64h-2.75c-.28 0-.45.2-.45.4 0 .42.64.52.7 1.7v2.58c0 .57-.1.67-.32.67-.6 0-2.04-2.18-2.9-4.67-.16-.48-.33-.68-.78-.68z"
                                  fill="#fff"></path>
                            <path d="M66.86 12.5c0 3.24-2.43 5.5-5.78 5.5s-5.78-2.26-5.78-5.5S57.73 7 61.08 7s5.78 2.26 5.78 5.5zm-8.97 0c0 1.97 1.3 3.3 3.19 3.3s3.19-1.33 3.19-3.3c0-1.98-1.3-3.25-3.19-3.25s-3.19 1.28-3.19 3.25zm-17.14-.21c.95-.44 1.56-1.18 1.56-2.33 0-1.73-1.58-2.96-3.87-2.96h-5.27v11h5.5c2.37 0 4.02-1.29 4.02-3.05 0-1.33-.87-2.32-1.94-2.66zM35.6 9.01h2.83c.85 0 1.44.5 1.44 1.2s-.6 1.2-1.44 1.2h-2.83zM38.67 16h-3.06V13.3h3.06c.96 0 1.59.55 1.59 1.36s-.63 1.33-1.59 1.33zM51.84 18h3.19l-5.06-5.71L54.61 7h-2.9l-3.68 4.27h-.6V7H45v11h2.44v-4.38h.59zM76.47 7v4.34h-4.93V7H69.1v11h2.43v-4.44h4.93V18h2.43V7zM86.9 18h-2.44V9.22h-3.8V7H90.7v2.22h-3.8zm9.5-11c-2.11 0-3.91.89-4.52 2.8l2.24.37c.34-.67 1.05-1.2 2.15-1.2 1.33 0 2.06.84 2.17 2.28h-2.32c-3.23 0-4.79 1.42-4.79 3.45 0 2.05 1.59 3.3 3.78 3.3 1.8 0 3-.72 3.53-1.63l.5 1.63h1.76v-6.18c0-3.19-1.74-4.82-4.5-4.82zm-.72 9c-1.19 0-1.9-.5-1.9-1.4 0-.85.57-1.44 2.43-1.44h2.35c0 1.8-1.19 2.84-2.88 2.84zm17.99 2h-3.2l-3.8-4.38h-.6V18h-2.43V7h2.43v4.27h.6L110.34 7h2.9l-4.63 5.29zm3.88 0h2.43V9.22h3.8V7h-10.04v2.22h3.8zM130.1 7c3.34 0 5.56 2.4 5.56 5.37 0 .3-.02.55-.04.79h-8.54c.23 1.69 1.36 2.69 3.17 2.69 1.29 0 2.15-.4 2.68-1.2l2.29.39c-.88 2.01-2.83 2.96-5.12 2.96a5.28 5.28 0 01-5.51-5.5c0-3.12 2.17-5.5 5.51-5.5zm2.92 4.25c-.4-1.37-1.4-2.15-2.92-2.15-1.48 0-2.47.74-2.87 2.15z"
                                  fill="currentcolor"></path>
                        </g>
                    </svg>
                </a>
            </li>
            <li class="navbar-menu-item">
                <input type="text" class="navbar-menu-search" placeholder="Поиск">
            </li>
            <li class="navbar-menu-item">
                <svg fill="none" height="24" width="24" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 2.1c4.02 0 6.9 3.28 6.9 7.53v1.6c0 .23.2.53.72 1.08l.27.27c1.08 1.1 1.51 1.73 1.51 2.75 0 .44-.05.79-.27 1.2-.45.88-1.42 1.37-2.87 1.37h-1.9c-.64 2.33-2.14 3.6-4.36 3.6-2.25 0-3.75-1.3-4.37-3.67l.02.07H5.74c-1.5 0-2.47-.5-2.9-1.41-.2-.4-.24-.72-.24-1.16 0-1.02.43-1.65 1.51-2.75l.27-.27c.53-.55.72-.85.72-1.08v-1.6C5.1 5.38 7.99 2.1 12 2.1zm2.47 15.8H9.53c.46 1.25 1.25 1.8 2.47 1.8s2.01-.55 2.47-1.8zM12 3.9c-2.96 0-5.1 2.43-5.1 5.73v1.6c0 .85-.39 1.46-1.23 2.33l-.28.29c-.75.75-.99 1.11-.99 1.48 0 .19.01.29.06.38.1.22.43.39 1.28.39h12.52c.82 0 1.16-.17 1.28-.4.05-.1.06-.2.06-.37 0-.37-.24-.73-.99-1.48l-.28-.29c-.84-.87-1.23-1.48-1.23-2.33v-1.6c0-3.3-2.13-5.73-5.1-5.73z"
                          fill="currentColor"></path>
                </svg>
            </li>
            <li class="navbar-menu-item d-flex align-items-center">
                <a href="{% url 'profile' %}">
                    <div class="d-flex align-items-center">
                        {{ user.first_name }}
                        <div class="post-author-img">
                            {% if user.profile.avatar.name %}
                            <img src="{{ user.profile.avatar.url }}" class="avatar-img img-thumbnail navbar-img">
                            {% else %}
                            <img src="{% static 'vk_posts/img/user.png' %}" class="avatar-img img-thumbnail navbar-img">
                            {% endif %}
                        </div>
                    </div>
                </a>
                <span class="linebreak">|</span>
                <a class="logout-btn" href="{% url 'logout' %}">Выйти</a>
            </li>
        </ul>
    </div>
</div>

<div class="container-profile profile">
    <div class="profile-row">
        <div class="profile-col profile-col-1">
            <ul class="profile-nav">
                <li class="profile-nav-item">
                    <a href="{% url 'profile' %}" class="profile-nav-link">
                        <svg fill="none" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
                            <path clip-rule="evenodd"
                                  d="M5.84 15.63a6.97 6.97 0 008.32 0 8.2 8.2 0 00-8.32 0zM4.7 14.57a7 7 0 1110.6 0 9.7 9.7 0 00-10.6 0zM10 1.5a8.5 8.5 0 100 17 8.5 8.5 0 000-17zm-1.5 7a1.5 1.5 0 103 0 1.5 1.5 0 00-3 0zm1.5-3a3 3 0 100 6 3 3 0 000-6z"
                                  fill="steelblue" fill-rule="evenodd"/>
                        </svg>
                        <span class="profile-nav-link-text">Моя страница</span>
                    </a>
                </li>

                <li class="profile-nav-item">
                    <a href="{% url 'home' %}" class="profile-nav-link">
                        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path opacity=".0" d="M0 0h20v20H0z"/>
                            <path d="M13.08 2c1.44 0 2.14.13 2.86.52a3.7 3.7 0 011.54 1.54c.39.72.52 1.42.52 2.86v6.16c0 1.44-.13 2.14-.52 2.86a3.7 3.7 0 01-1.54 1.54c-.72.39-1.42.52-2.86.52H6.92c-1.44 0-2.14-.13-2.86-.52a3.7 3.7 0 01-1.54-1.54c-.39-.72-.52-1.42-.52-2.86V6.92c0-1.44.13-2.14.52-2.86a3.7 3.7 0 011.54-1.54C4.78 2.13 5.48 2 6.92 2h6.16zm3.42 6h-13v5.08c0 1.21.09 1.68.35 2.15.2.4.52.71.92.92.47.26.94.35 2.15.35h6.16c1.21 0 1.68-.09 2.15-.35.4-.2.71-.52.92-.92.26-.47.35-.94.35-2.15V8zm-3.42-4.5H6.92c-1.21 0-1.68.09-2.15.35-.4.2-.71.52-.92.92-.23.42-.33.82-.35 1.73h13a3.48 3.48 0 00-.35-1.73 2.2 2.2 0 00-.92-.92c-.47-.26-.94-.35-2.15-.35z"
                                  id="newsfeed_outline_20__Icon-Color" fill="steelblue" fill-rule="nonzero"/>
                        </svg>
                        <span class="profile-nav-link-text">Новости</span>
                    </a>
                </li>

                <li class="profile-nav-item">
                    <a href="#" class="profile-nav-link">
                        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path id="message_outline_20__Shape" opacity=".0" d="M0 0h20v20H0z"/>
                            <path d="M6.83 15.75c.2-.23.53-.31.82-.2.81.3 1.7.45 2.6.45 3.77 0 6.75-2.7 6.75-6s-2.98-6-6.75-6S3.5 6.7 3.5 10c0 1.21.4 2.37 1.14 3.35.1.14.16.31.15.49-.04.76-.4 1.78-1.08 3.13 1.48-.11 2.5-.53 3.12-1.22zM3.24 18.5a1.2 1.2 0 01-1.1-1.77A10.77 10.77 0 003.26 14 7 7 0 012 10c0-4.17 3.68-7.5 8.25-7.5S18.5 5.83 18.5 10s-3.68 7.5-8.25 7.5c-.92 0-1.81-.13-2.66-.4-1 .89-2.46 1.34-4.35 1.4z"
                                  id="message_outline_20__Icon-Color" fill="steelblue" fill-rule="nonzero"/>
                        </svg>
                        <span class="profile-nav-link-text">Мессенджер</span>
                    </a>
                </li>

                <li class="profile-nav-item">
                    <a href="#" class="profile-nav-link">
                        <svg fill="none" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
                            <g fill="currentColor">
                                <g clip-rule="evenodd" fill-rule="evenodd">
                                    <path d="M6.25 3.5a3 3 0 100 6 3 3 0 000-6zm-1.5 3a1.5 1.5 0 103 0 1.5 1.5 0 00-3 0zM2.69 11.57c.96-.55 2.22-.82 3.56-.82s2.6.27 3.56.82c.98.56 1.69 1.47 1.69 2.68 0 .7-.28 1.3-.78 1.71-.48.39-1.1.54-1.72.54H3.5c-.61 0-1.24-.15-1.72-.54-.5-.4-.78-1-.78-1.71 0-1.21.71-2.12 1.69-2.68zm.75 1.3c-.65.37-.94.84-.94 1.38 0 .3.1.44.22.54.14.11.4.21.78.21H9c.39 0 .64-.1.78-.21.12-.1.22-.25.22-.54 0-.54-.29-1-.94-1.38-.66-.39-1.65-.62-2.81-.62s-2.15.23-2.81.62zM13.75 3.5a3 3 0 100 6 3 3 0 000-6zm-1.5 3a1.5 1.5 0 103 0 1.5 1.5 0 00-3 0z"
                                          fill="steelblue"/>
                                </g>
                                <path d="M13.75 12.25c-.23 0-.45.01-.68.03a.75.75 0 11-.14-1.49c.27-.03.54-.04.82-.04 1.34 0 2.6.27 3.56.82.98.56 1.69 1.47 1.69 2.68 0 .7-.28 1.3-.78 1.71-.48.39-1.1.54-1.72.54h-3a.75.75 0 010-1.5h3c.39 0 .64-.1.78-.21.12-.1.22-.25.22-.54 0-.54-.29-1-.94-1.38a5.77 5.77 0 00-2.81-.62z"
                                      fill="steelblue"/>
                            </g>
                        </svg>
                        <span class="profile-nav-link-text">Друзья</span>
                    </a>
                </li>

                <li class="profile-nav-item">
                    <a href="#" class="profile-nav-link">
                        <svg fill="none" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
                            <path clip-rule="evenodd"
                                  d="M10 7.75a1.25 1.25 0 110-2.5 1.25 1.25 0 010 2.5zM7.25 6.5a2.75 2.75 0 115.5 0 2.75 2.75 0 01-5.5 0zm-.5 7.25c0-.42.23-.83.8-1.17A4.81 4.81 0 0110 12c1.03 0 1.88.23 2.45.58.57.34.8.75.8 1.17 0 .3-.1.44-.22.54-.14.11-.4.21-.78.21h-4.5c-.39 0-.64-.1-.78-.21-.12-.1-.22-.25-.22-.54zM10 10.5c-1.22 0-2.37.27-3.23.8-.88.53-1.52 1.37-1.52 2.45 0 .7.28 1.3.78 1.71.48.39 1.1.54 1.72.54h4.5c.61 0 1.24-.15 1.72-.54.5-.4.78-1 .78-1.71 0-1.08-.64-1.92-1.52-2.45-.86-.53-2-.8-3.23-.8zm4-5.59c.06-.4.44-.7.85-.64a2.5 2.5 0 01-.35 4.98.75.75 0 010-1.5 1 1 0 00.14-1.99.75.75 0 01-.63-.85zM15.76 10a.75.75 0 000 1.5c1.16 0 1.75.67 1.75 1.25 0 .22-.07.41-.19.55-.1.12-.24.2-.46.2a.75.75 0 000 1.5c1.43 0 2.15-1.21 2.15-2.25 0-1.71-1.6-2.75-3.25-2.75zM5 10.75a.75.75 0 00-.75-.75C2.61 10 1 11.04 1 12.75 1 13.79 1.72 15 3.15 15a.75.75 0 000-1.5.57.57 0 01-.47-.2.86.86 0 01-.18-.55c0-.58.6-1.25 1.75-1.25.41 0 .75-.34.75-.75zm.14-6.47a.75.75 0 01.22 1.48 1 1 0 00.14 1.99.75.75 0 110 1.5 2.5 2.5 0 01-.36-4.97z"
                                  fill="steelblue" fill-rule="evenodd"/>
                        </svg>
                        <span class="profile-nav-link-text">Сообщвества</span>
                    </a>
                </li>

                <li class="profile-nav-item">
                    <a href="#" class="profile-nav-link">
                        <svg fill="none" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
                            <path clip-rule="evenodd"
                                  d="M6.84 16.44c.76.06 1.74.06 3.16.06 1.42 0 2.4 0 3.16-.06a3.75 3.75 0 001.43-.32 3.5 3.5 0 001.53-1.53c.15-.29.26-.69.32-1.43l.03-.63-1.3-1.3c-.3-.3-.5-.5-.67-.64a.86.86 0 00-.27-.18.75.75 0 00-.46 0 .86.86 0 00-.27.18c-.16.13-.36.33-.67.64l-2.3 2.3a.75.75 0 01-1.06 0l-.3-.3c-.3-.3-.5-.5-.67-.64a.86.86 0 00-.27-.18.75.75 0 00-.46 0 .86.86 0 00-.27.18c-.16.13-.36.33-.67.64L4.56 15.5c.25.24.53.45.85.6.29.16.69.27 1.43.33zm9.39-6.27l.27.27V10c0-1.42 0-2.4-.06-3.16a3.75 3.75 0 00-.32-1.43 3.5 3.5 0 00-1.53-1.53 3.75 3.75 0 00-1.43-.32A43.2 43.2 0 0010 3.5c-1.42 0-2.4 0-3.16.06-.74.06-1.14.17-1.43.32a3.5 3.5 0 00-1.53 1.53c-.15.29-.26.69-.32 1.43A43.2 43.2 0 003.5 10c0 1.42 0 2.4.06 3.16.04.47.1.8.17 1.05l2.04-2.04.02-.02c.28-.28.52-.52.74-.7.23-.2.47-.37.77-.47.46-.15.94-.15 1.4 0 .3.1.54.27.77.46.16.14.34.3.53.5l1.77-1.77.02-.02c.28-.28.52-.52.74-.7.23-.2.47-.37.77-.47.46-.15.94-.15 1.4 0 .3.1.54.27.77.46.22.19.46.43.74.7zM2.54 4.73C2 5.8 2 7.2 2 10c0 2.8 0 4.2.54 5.27a5 5 0 002.19 2.19C5.8 18 7.2 18 10 18c2.8 0 4.2 0 5.27-.54a5 5 0 002.19-2.19C18 14.2 18 12.8 18 10c0-2.8 0-4.2-.55-5.27a5 5 0 00-2.18-2.19C14.2 2 12.8 2 10 2c-2.8 0-4.2 0-5.27.54a5 5 0 00-2.19 2.19zM7.25 6a1.25 1.25 0 100 2.5 1.25 1.25 0 000-2.5z"
                                  fill="steelblue" fill-rule="evenodd"/>
                        </svg>
                        <span class="profile-nav-link-text">Фотографии</span>
                    </a>
                </li>

                <li class="profile-nav-item">
                    <a href="#" class="profile-nav-link">
                        <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <g id="music_outline_20__Icons" stroke="none" stroke-width="1" fill="none"
                               fill-rule="evenodd">
                                <g id="music_outline_20__Icons-20/music_outline_20">
                                    <g id="music_outline_20__music_outline_20">
                                        <path d="M0 0h20v20H0z"/>
                                        <path d="M14.73 2.05a2.28 2.28 0 012.75 2.23v7.99c0 3.57-3.5 5.4-5.39 3.51-1.9-1.9-.06-5.38 3.52-5.38h.37V6.76L8 8.43v5.82c0 3.5-3.35 5.34-5.27 3.62l-.11-.1c-1.9-1.9-.06-5.4 3.51-5.4h.37V6.24c0-.64.05-1 .19-1.36l.05-.13c.17-.38.43-.7.76-.93.36-.26.7-.4 1.41-.54zM6.5 13.88h-.37c-2.32 0-3.34 1.94-2.45 2.82.88.89 2.82-.13 2.82-2.45v-.37zm9.48-1.98h-.37c-2.32 0-3.34 1.94-2.46 2.82.89.89 2.83-.13 2.83-2.45v-.37zm-.02-7.78a.78.78 0 00-.92-.6L9.06 4.77c-.4.09-.54.15-.68.25a.8.8 0 00-.27.33c-.08.18-.1.35-.1.88v.67l7.97-1.67v-.95-.08z"
                                              id="music_outline_20__Icon-Color" fill="steelblue" fill-rule="nonzero"/>
                                    </g>
                                </g>
                            </g>
                        </svg>
                        <span class="profile-nav-link-text">Музыка</span>
                    </a>
                </li>

                <li class="profile-nav-item">
                    <a href="#" class="profile-nav-link">
                        <svg fill="none" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
                            <path clip-rule="evenodd"
                                  d="M12.06 1.5c.65 0 1.23 0 1.7.04.51.04 1.04.13 1.56.4a4 4 0 011.74 1.74c.27.52.36 1.05.4 1.56.04.47.04 1.05.04 1.7v6.12c0 .65 0 1.23-.04 1.7a4.07 4.07 0 01-.4 1.56 4 4 0 01-1.74 1.74c-.52.27-1.05.36-1.56.4-.47.04-1.05.04-1.7.04H7.94c-.65 0-1.23 0-1.7-.04a4.06 4.06 0 01-1.56-.4 4 4 0 01-1.74-1.74 4.06 4.06 0 01-.4-1.56c-.04-.47-.04-1.05-.04-1.7V6.94c0-.65 0-1.23.04-1.7.04-.51.13-1.04.4-1.56a4 4 0 011.74-1.74 4.06 4.06 0 011.56-.4c.47-.04 1.05-.04 1.7-.04zM4.27 4.37C4 4.9 4 5.6 4 7v6c0 1.4 0 2.1.27 2.63.24.48.62.86 1.1 1.1C5.9 17 6.6 17 8 17h4c1.4 0 2.1 0 2.63-.27a2.5 2.5 0 001.1-1.1C16 15.1 16 14.4 16 13V7c0-1.4 0-2.1-.27-2.63a2.5 2.5 0 00-1.1-1.1C14.1 3 13.4 3 12 3H8c-1.4 0-2.1 0-2.63.27a2.5 2.5 0 00-1.1 1.1zM6 14c0-.33 0-.49.06-.62a.65.65 0 01.32-.32c.13-.06.3-.06.62-.06s.49 0 .62.06c.14.06.26.18.32.32.06.13.06.3.06.62s0 .49-.06.62a.65.65 0 01-.32.32c-.13.06-.3.06-.62.06s-.49 0-.62-.06a.65.65 0 01-.32-.32C6 14.49 6 14.32 6 14zm.06-4.62C6 9.51 6 9.68 6 10c0 .33 0 .49.06.62.06.14.18.26.32.32.13.06.3.06.62.06s.49 0 .62-.06a.65.65 0 00.32-.32c.06-.13.06-.3.06-.62 0-.33 0-.49-.06-.62a.65.65 0 00-.32-.32C7.49 9 7.32 9 7 9s-.49 0-.62.06a.65.65 0 00-.32.32zM12 6c0-.33 0-.49.06-.62a.65.65 0 01.32-.32c.13-.06.3-.06.62-.06s.49 0 .62.06c.14.06.26.18.32.32.06.13.06.3.06.62s0 .49-.06.62a.65.65 0 01-.32.32c-.13.06-.3.06-.62.06s-.49 0-.62-.06a.65.65 0 01-.32-.32C12 6.49 12 6.32 12 6zm.06 7.38c-.06.13-.06.3-.06.62s0 .49.06.62c.06.14.18.26.32.32.13.06.3.06.62.06s.49 0 .62-.06a.65.65 0 00.32-.32c.06-.13.06-.3.06-.62s0-.49-.06-.62a.65.65 0 00-.32-.32c-.13-.06-.3-.06-.62-.06s-.49 0-.62.06a.65.65 0 00-.32.32zM12 10c0-.33 0-.49.06-.62a.65.65 0 01.32-.32c.13-.06.3-.06.62-.06s.49 0 .62.06c.14.06.26.18.32.32.06.13.06.3.06.62 0 .33 0 .49-.06.62a.65.65 0 01-.32.32c-.13.06-.3.06-.62.06s-.49 0-.62-.06a.65.65 0 01-.32-.32c-.06-.13-.06-.3-.06-.62zM6.06 5.38C6 5.51 6 5.68 6 6s0 .49.06.62c.06.14.18.26.32.32.13.06.3.06.62.06s.49 0 .62-.06a.65.65 0 00.32-.32C8 6.49 8 6.32 8 6s0-.49-.06-.62a.65.65 0 00-.32-.32C7.49 5 7.32 5 7 5s-.49 0-.62.06a.65.65 0 00-.32.32z"
                                  fill="steelblue" fill-rule="evenodd"/>
                        </svg>
                        <span class="profile-nav-link-text">Видео</span>
                    </a>
                </li>

                <li class="profile-nav-item">
                    <a href="#" class="profile-nav-link">
                        <svg fill="none" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
                            <path clip-rule="evenodd"
                                  d="M10.76 3.3a.94.94 0 011.86.2l-.37 4.44c-.03.34.18.66.51.77h.02a2.8 2.8 0 01.46.22c.3.15.7.4 1.08.75a.75.75 0 001.02-1.1 6.49 6.49 0 00-1.55-1.06l.33-3.89a2.44 2.44 0 00-4.84-.53l-.1.65-.02-.06a2.46 2.46 0 00-4.78.98l.34 4.49a4.63 4.63 0 00-1.46 4.49c.55 2.7 3.18 5.08 7.23 4.85h.05a.75.75 0 00-.09-1.5h-.04c-3.37.2-5.3-1.73-5.67-3.65a3.12 3.12 0 011.18-3.23 2.95 2.95 0 012.39-.4c.57.21.83.7.82 1.19a1 1 0 01-.83 1c-.32.07-.49.09-.55.09a.75.75 0 000 1.5c.24 0 .56-.06.86-.12a2.5 2.5 0 002.02-2.44 2.7 2.7 0 00-2-2.68c-.3-.08-1.3-.3-2.47.09l-.29-3.8a.96.96 0 011.87-.38l.72 2.11v.02a5.6 5.6 0 00.25.56c.04.07.15.21.34.3.3.15.65.11.92-.08.17-.13.25-.3.28-.37a5.62 5.62 0 00.12-.6l.01-.02zM16.31 18l1.38-.8.04-.03c.22-.12.47-.26.66-.4.2-.15.56-.42.77-.9.25-.55.25-1.19 0-1.75a2.2 2.2 0 00-.77-.9l-.66-.4-.04-.02-1.38-.8-.04-.02c-.22-.13-.47-.27-.68-.37a2.2 2.2 0 00-1.16-.22c-.61.06-1.16.38-1.52.87-.3.42-.37.87-.39 1.12-.02.24-.02.52-.02.78V15.84c0 .26 0 .54.02.78s.09.7.4 1.11c.35.5.9.81 1.5.88.52.05.94-.12 1.17-.22.21-.1.46-.25.68-.37zm.63-3.9c.51.3.77.44.85.63.08.17.08.36 0 .53-.08.2-.34.34-.85.64l-1.38.8c-.51.3-.77.44-.98.42a.65.65 0 01-.46-.27C14 16.68 14 16.4 14 15.8V14.2c0-.59 0-.89.12-1.06.11-.15.28-.24.46-.26.21-.02.47.13.98.42z"
                                  fill="steelblue" fill-rule="evenodd"/>
                        </svg>
                        <span class="profile-nav-link-text">Клипы</span>
                    </a>
                </li>

                <li class="profile-nav-item">
                    <a href="#" class="profile-nav-link">
                        <svg fill="none" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
                            <path clip-rule="evenodd"
                                  d="M11.5 4h-3c-2.32 0-4.25.43-5.58 1.76S1.02 9.15 1 12c0 .8.05 1.99.46 3 .2.5.5 1.01.98 1.4.48.39 1.09.61 1.81.61.8 0 1.37-.33 1.81-.77.31-.31.58-.72.8-1.07l.17-.24c.28-.42.55-.76.91-1 .35-.24.82-.42 1.56-.42h1c.74 0 1.21.18 1.56.42.36.24.63.58.91 1l.16.24c.23.35.5.76.8 1.07.45.44 1.02.77 1.82.77a2.8 2.8 0 001.81-.61c.47-.39.78-.9.98-1.4.4-1.01.47-2.2.46-3-.02-2.84-.6-4.9-1.92-6.23C15.75 4.43 13.82 4 11.5 4zm-1 8h-1c-1.01 0-1.79.26-2.4.68-.6.4-1 .94-1.31 1.4l-.23.34c-.21.32-.37.56-.57.76a.95.95 0 01-.74.32c-.4 0-.67-.12-.87-.28a1.9 1.9 0 01-.53-.79 6.82 6.82 0 01-.35-2.42c.02-2.71.57-4.28 1.48-5.19.91-.9 2.34-1.32 4.52-1.32h3c2.18 0 3.61.42 4.52 1.32.9.91 1.46 2.48 1.48 5.19 0 .75-.06 1.7-.35 2.42a1.9 1.9 0 01-.53.8c-.2.15-.47.27-.87.27a.95.95 0 01-.74-.32c-.2-.2-.36-.44-.57-.76l-.23-.34c-.3-.46-.7-1-1.3-1.4A4.13 4.13 0 0010.5 12zM7.25 7.5a.75.75 0 00-1.5 0v.75H5a.75.75 0 000 1.5h.75v.75a.75.75 0 001.5 0v-.75H8a.75.75 0 000-1.5h-.75zm5.25.75a.75.75 0 000 1.5h2a.75.75 0 000-1.5z"
                                  fill="steelblue" fill-rule="evenodd"/>
                        </svg>
                        <span class="profile-nav-link-text">Игры</span>
                    </a>
                </li>

                <li class="profile-nav-item">
                    <a href="#" class="profile-nav-link">
                        <svg fill="none" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
                            <g clip-rule="evenodd" fill="currentColor" fill-rule="evenodd">
                                <path d="M5 6.75c0-.41.34-.75.75-.75h8.5a.75.75 0 010 1.5h-8.5A.75.75 0 015 6.75zM5 10.25c0-.41.34-.75.75-.75h8.5a.75.75 0 010 1.5h-8.5a.75.75 0 01-.75-.75z"/>
                                <path d="M7.13 2c-1.61 0-2.34.14-3.08.53-.65.35-1.17.87-1.52 1.52-.4.74-.53 1.47-.53 3.08v5.74c0 1.61.14 2.34.53 3.08.35.65.87 1.17 1.52 1.52.74.4 1.47.53 3.08.53h5.74c1.61 0 2.34-.14 3.08-.53a3.64 3.64 0 001.52-1.52c.4-.74.53-1.47.53-3.08V7.13c0-1.61-.14-2.34-.53-3.08a3.64 3.64 0 00-1.52-1.52c-.74-.4-1.47-.53-3.08-.53zM4.75 3.86c.42-.22.85-.36 2.38-.36h5.74c1.53 0 1.96.14 2.38.36.38.2.69.5.9.9.21.4.35.84.35 2.37v5.74c0 1.53-.14 1.96-.36 2.38-.2.38-.5.69-.9.9-.34.18-.7.3-1.74.34v-2.74a.75.75 0 00-1.5 0v2.75H8v-2.75a.75.75 0 00-1.5 0v2.74c-1.03-.03-1.4-.16-1.75-.35-.38-.2-.69-.5-.9-.9-.21-.4-.35-.84-.35-2.37V7.13c0-1.53.14-1.96.36-2.38.2-.38.5-.69.9-.9zm1 2.14a.75.75 0 000 1.5h8.5a.75.75 0 000-1.5zm0 3.5a.75.75 0 000 1.5h8.5a.75.75 0 000-1.5z"
                                      fill="steelblue"/>
                            </g>
                        </svg>
                        <span class="profile-nav-link-text">Объявления</span>
                    </a>
                </li>
            </ul>
        </div>

        <div class="profile-col create-new-post">
            <div class="card mt-0" id="card">
                <div class="card-body post-body">
                    <form method="post" name="new-post-form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="d-flex align-items-center" id="post-margin">
                            <div class="post-author-img create-post-block">
                                {% if user.profile.avatar.name %}
                                <img src="{{ user.profile.avatar.url }}"
                                     class="avatar-img img-thumbnail create-post-img">
                                {% else %}
                                <img src="{% static 'vk_posts/img/user.png' %}"
                                     class="avatar-img img-thumbnail create-post-img">
                                {% endif %}
                            </div>
                            <input class="form-control form-control-sm shadow-none create-post-text" type="text"
                                   id="post-input" name="text" placeholder="Что у вас нового?" autocomplete="off">
                        </div>
                        <div class="d-flex align-items-center card-footer hidden" id="post-footer">
                            <ul class="d-flex align-items-center card-footer__list">
                                <li class="card-footer__list-item">
                                    <img src="{% static 'vk_posts/img/color_button.png' %}"
                                         class="card-footer__list-item-img">
                                </li>
                                <li class="card-footer__list-item">
                                    <svg fill="none" height="20" viewBox="0 0 20 20" width="20"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path clip-rule="evenodd"
                                              d="M4.25 8.75a5.75 5.75 0 018.4-5.1.75.75 0 10.7-1.33 7.25 7.25 0 00-10.6 6.43c0 2.06.94 3.48 1.92 4.54.34.38.71.73 1.04 1.04l.33.31c.37.37.61.64.75.87l.1.48c.06.33.11.6.18.84.07.24.16.48.31.7.24.35.57.62.95.78.25.11.5.15.76.17.24.02.52.02.85.02h.12c.33 0 .61 0 .85-.02.26-.02.51-.06.76-.17.38-.16.7-.43.95-.77.15-.23.24-.47.31-.71.07-.23.12-.51.19-.84l.1-.48c.09-.17.25-.36.48-.6.18-.19.38-.37.6-.58l.34-.33a9.08 9.08 0 002.05-2.69.75.75 0 10-1.36-.62 7.63 7.63 0 01-1.73 2.23l-.3.3c-.24.21-.48.44-.68.65-.19.2-.38.4-.54.63h-1.33v-1.64l.97-.77a.75.75 0 00-.94-1.18l-.78.63-.78-.63a.75.75 0 00-.94 1.18l.97.77v1.64H7.92a7.15 7.15 0 00-.84-.93l-.37-.36c-.32-.3-.63-.6-.94-.93-.84-.92-1.52-2-1.52-3.53zm4.26 7.67a6.68 6.68 0 01-.1-.42h3.17c-.03.18-.06.31-.1.42a.83.83 0 01-.1.26.75.75 0 01-.3.26.82.82 0 01-.28.05l-.77.01h-.06l-.77-.01a.82.82 0 01-.27-.05.75.75 0 01-.32-.26.82.82 0 01-.1-.26zm6.63-13.16a.38.38 0 01.72 0l.4 1.18c.12.38.42.68.8.8l1.18.4c.35.11.35.6 0 .72l-1.18.4c-.38.12-.68.42-.8.8l-.4 1.18a.38.38 0 01-.72 0l-.4-1.18a1.28 1.28 0 00-.8-.8l-1.18-.4a.38.38 0 010-.72l1.18-.4c.38-.12.68-.42.8-.8z"
                                              fill="currentColor" fill-rule="evenodd"/>
                                    </svg>
                                </li>
                                <li class="card-footer__list-item">
                                    <input class="form-control form-control-sm" type="file" id="image" name="image">
                                    <label for="image" class="input__file-button">
                                            <span class="input__file-icon-wrapper">
                                                <svg fill="none" height="20" viewBox="0 0 20 20" width="20"
                                                     xmlns="http://www.w3.org/2000/svg"><path clip-rule="evenodd"
                                                                                              d="M5.5 5.5c.57 0 1-.2 1.34-.52.24-.24.43-.54.55-.74l.06-.1c.15-.23.26-.37.39-.47.11-.08.3-.17.66-.17h3c.36 0 .55.09.66.17.13.1.24.24.4.48l.05.09c.12.2.3.5.55.74.33.32.77.52 1.34.52.73 0 .99 0 1.19.04.9.18 1.59.88 1.77 1.77.04.2.04.46.04 1.19v3.45c0 .85 0 1.45-.04 1.9-.04.46-.1.72-.2.92-.22.42-.57.77-.99.98-.2.1-.46.17-.91.21-.46.04-1.06.04-1.91.04h-6.9c-.85 0-1.45 0-1.91-.04a2.4 2.4 0 01-.91-.2 2.25 2.25 0 01-.99-.99 2.4 2.4 0 01-.2-.91c-.04-.46-.04-1.06-.04-1.91V8.5c0-.73 0-.99.04-1.19.18-.9.88-1.59 1.77-1.77.2-.04.46-.04 1.19-.04zm3-3.5c-.64 0-1.14.16-1.54.46-.39.27-.62.63-.78.9l-.08.11c-.13.22-.2.34-.3.43-.06.05-.12.1-.3.1h-.09c-.61 0-1.03 0-1.4.07a3.75 3.75 0 00-2.94 2.95C1 7.38 1 7.8 1 8.42v3.56c0 .81 0 1.47.04 2 .05.55.14 1.03.37 1.47.36.7.93 1.28 1.64 1.64.44.23.92.32 1.47.37.53.04 1.18.04 2 .04H13.48c.81 0 1.47 0 2-.04a3.84 3.84 0 001.47-.37c.7-.36 1.28-.93 1.64-1.64.23-.44.32-.92.37-1.47.04-.53.04-1.19.04-2V8.41c0-.61 0-1.03-.07-1.4a3.75 3.75 0 00-2.95-2.94 7.5 7.5 0 00-1.4-.07h-.08c-.18 0-.24-.05-.3-.1-.1-.1-.17-.2-.3-.43l-.08-.12c-.16-.26-.4-.62-.78-.9-.4-.29-.9-.45-1.54-.45zm3.75 8.25a2.25 2.25 0 11-4.5 0 2.25 2.25 0 014.5 0zm1.5 0a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z"
                                                                                              fill="currentColor"
                                                                                              fill-rule="evenodd"></path></svg>
                                            </span>
                                    </label>
                                </li>
                                <li class="card-footer__list-item">
                                    <svg fill="none" height="20" viewBox="0 0 20 20" width="20"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path clip-rule="evenodd"
                                              d="M10 17a7 7 0 110-14 7 7 0 010 14zm-8.5-7a8.5 8.5 0 1117 0 8.5 8.5 0 01-17 0zm8.65 3.38l2.7-1.56a2.1 2.1 0 000-3.64l-2.7-1.56A2.1 2.1 0 007 8.44v3.12a2.1 2.1 0 003.15 1.82zm1.95-3.9c.4.23.4.8 0 1.04l-2.7 1.56a.6.6 0 01-.9-.52V8.44c0-.46.5-.75.9-.52z"
                                              fill="currentColor" fill-rule="evenodd"></path>
                                    </svg>
                                </li>
                                <li class="card-footer__list-item">
                                    <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                        <g id="music_outline_20__Icons" stroke="none" stroke-width="1" fill="none"
                                           fill-rule="evenodd">
                                            <g id="music_outline_20__Icons-20/music_outline_20">
                                                <g id="music_outline_20__music_outline_20">
                                                    <path d="M0 0h20v20H0z"></path>
                                                    <path d="M14.73 2.05a2.28 2.28 0 012.75 2.23v7.99c0 3.57-3.5 5.4-5.39 3.51-1.9-1.9-.06-5.38 3.52-5.38h.37V6.76L8 8.43v5.82c0 3.5-3.35 5.34-5.27 3.62l-.11-.1c-1.9-1.9-.06-5.4 3.51-5.4h.37V6.24c0-.64.05-1 .19-1.36l.05-.13c.17-.38.43-.7.76-.93.36-.26.7-.4 1.41-.54zM6.5 13.88h-.37c-2.32 0-3.34 1.94-2.45 2.82.88.89 2.82-.13 2.82-2.45v-.37zm9.48-1.98h-.37c-2.32 0-3.34 1.94-2.46 2.82.89.89 2.83-.13 2.83-2.45v-.37zm-.02-7.78a.78.78 0 00-.92-.6L9.06 4.77c-.4.09-.54.15-.68.25a.8.8 0 00-.27.33c-.08.18-.1.35-.1.88v.67l7.97-1.67v-.95-.08z"
                                                          id="music_outline_20__Icon-Color" fill="currentColor"
                                                          fill-rule="nonzero"></path>
                                                </g>
                                            </g>
                                        </g>
                                    </svg>
                                </li>
                                <li class="card-footer__list-item">
                                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M17.25 14.5c.42 0 .75.34.75.75v.1a.75.75 0 01-.75.65H4.75a.75.75 0 110-1.5h12.5zm0-5a.75.75 0 110 1.5h-8.5a.75.75 0 01-.75-.75v-.1a.75.75 0 01.75-.65h8.5zm-9-6.5c.4 0 .75.34.75.75v.1a.75.75 0 01-.75.65h-2.5v5.75a.75.75 0 01-1.5 0V4.5h-2.5a.76.76 0 01-.74-.65L1 3.75c0-.42.34-.75.75-.75h6.5zm9 1.5a.75.75 0 010 1.5h-5.5a.75.75 0 01-.75-.75v-.1a.75.75 0 01.75-.65h5.5z"
                                              fill="currentColor"></path>
                                    </svg>
                                </li>
                                <li class="card-footer__list-item">
                                    <span class="card-footer__list-item-else">Ещё</span>
                                    <svg fill="none" height="8" viewBox="0 0 12 8" width="12"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path clip-rule="evenodd"
                                              d="M2.16 2.3a.75.75 0 011.05-.14L6 4.3l2.8-2.15a.75.75 0 11.9 1.19l-3.24 2.5c-.27.2-.65.2-.92 0L2.3 3.35a.75.75 0 01-.13-1.05z"
                                              fill="currentColor" fill-rule="evenodd"></path>
                                    </svg>
                                </li>
                                <li class="card-footer__list-item">
                                    <svg fill="none" height="20" viewBox="0 0 20 20" width="20"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M10.6 2c.98.03 1.63.58 1.96 1.6l.06.18.04.15.06.2.04.13.03.01.06-.02.1-.04.13-.06c1.16-.53 2.05-.43 2.78.36l.1.12.67.83c.6.8.58 1.63 0 2.54l-.1.15-.1.14-.12.16-.05.1-.03.04v.02l.08.05.1.06.13.07c1.13.58 1.6 1.35 1.42 2.4l-.03.16-.2.87c-.13.56-.23.82-.63 1.19-.39.35-.83.5-1.42.55h-.18l-.16.01-.2.01-.15.02.01.12.01.08.03.14c.26 1.25-.03 2.1-.97 2.62l-.14.08-.96.47c-.9.4-1.72.2-2.48-.58l-.12-.13-.11-.13-.14-.15-.08-.08-.04-.04-.07.08-.09.08-.1.11c-.78.93-1.6 1.27-2.6.88L7 17.49l-.86-.42-.26-.13c-.39-.22-.6-.42-.82-.87a2.38 2.38 0 01-.13-1.54l.03-.19.04-.2L5 14 4.93 14l-.12-.01h-.15c-1.27-.03-2.03-.51-2.33-1.55l-.04-.15-.24-1.04c-.2-.97.2-1.72 1.11-2.28l.16-.1.15-.07.17-.1.13-.08v-.02l-.05-.08-.06-.1-.09-.12c-.76-1.02-.85-1.92-.22-2.8l.1-.12.67-.83c.64-.75 1.47-.9 2.48-.52l.17.07.15.06.18.08.11.04.03-.01.03-.08.04-.11.03-.14c.3-1.17.9-1.83 1.96-1.92L9.46 2zm-.05 1.47h-1.1l-.1.01c-.24.03-.4.16-.54.68l-.04.13-.04.17c-.09.29-.22.61-.39.93a4.8 4.8 0 00-.94.46 5.28 5.28 0 01-.95-.29l-.28-.13c-.2-.08-.36-.13-.48-.14h-.07a.45.45 0 00-.33.16l-.06.06-.64.8-.08.1c-.15.21-.17.4.16.88l.18.25c.18.26.35.57.5.9-.11.32-.19.65-.23.99a5.3 5.3 0 01-.83.6l-.28.14c-.5.28-.57.46-.53.72l.01.06.23 1 .04.13c.07.25.21.39.79.41l.32.02c.3.01.65.07 1 .16.18.29.4.55.63.8.02.43-.02.85-.1 1.18-.16.78 0 .9.32 1.06l.92.45c.1.05.19.07.28.07h.05c.15-.02.32-.13.55-.4l.21-.24c.21-.23.48-.47.78-.68l.24.01h.5l.24-.02c.3.22.57.46.78.69l.21.24c.27.3.44.4.6.4h.06c.05 0 .1-.02.14-.04l.08-.03.92-.45.12-.06c.24-.14.34-.32.2-1a5.07 5.07 0 01-.1-1.18c.24-.25.45-.51.64-.8.34-.1.7-.15 1-.16l.31-.02c.67-.03.75-.2.83-.54l.22-.93c.07-.33.07-.53-.5-.85l-.29-.15a5.26 5.26 0 01-.83-.59 4.87 4.87 0 00-.22-.98c.14-.34.32-.65.49-.9l.19-.26c.33-.48.3-.67.16-.88l-.04-.06-.65-.8c-.11-.13-.2-.23-.37-.26h-.06c-.13 0-.3.04-.54.14l-.3.13c-.27.11-.6.22-.94.28-.3-.18-.61-.33-.94-.45-.16-.3-.29-.62-.37-.9l-.1-.33c-.15-.56-.32-.66-.58-.68zM10 6.9a3.11 3.11 0 110 6.23 3.11 3.11 0 010-6.23zm0 1.48a1.64 1.64 0 100 3.27 1.64 1.64 0 000-3.27z"
                                              fill="currentColor"></path>
                                    </svg>
                                </li>
                                <li class="card-footer__list-item">
                                    <button class="edit-profile-btn publish-btn">Опубликовать</button>
                                </li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
            <div class="timeline">
                {% for post in posts %}
                <div class="card">
                    <div class="card-body card-body-padding">
                        <div class="d-flex card-body-item mb-2">
                            <div class="post-author-img">
                                {% if post.author.profile.avatar.name %}
                                <img src="{{ post.author.profile.avatar.url }}"
                                     class="avatar-img img-thumbnail small-img">
                                {% else %}
                                <img src="{% static 'vk_posts/img/user.png' %}"
                                     class="avatar-img img-thumbnail small-img">
                                {% endif %}
                            </div>
                            <div class="post-author">
                                {{ post.author.first_name }} {{ post.author.last_name }}<br>
                                <span class="post-date">{{ post.datetime|date:"d M H:i" }}</span>
                            </div>
                            <div class="arrow-down">
                                <img src="{% static 'vk_posts/img/arrow-down.svg' %}" alt="">
                            </div>
                        </div>
                        <div class="post-text">
                            {{ post.text|default_if_none:""|linebreaks|urlize }}
                        </div>
                        {% if post.image.name %}
                        <img src="{{ post.image.url }}" class="avatar-img img-thumbnail"><br>
                        {% endif %}
                        <hr>
                    </div>
                    <div class="post-footer">
                        <ul class="d-flex align-items-center post-footer-block">
                            <li class="post-footer__item">
                                <div class="d-flex align-items-center">
                                    <img src="{% static 'vk_posts/img/like.svg' %}" class="post-like">
                                    <span class="post-like-count">{% random_int 50 1000 %}</span>
                                </div>
                            </li>
                            <li class="post-footer__item">
                                <div class="d-flex align-items-center">
                                    <img src="{% static 'vk_posts/img/comment.svg' %}" class="post-comment">
                                    <span class="post-comment-count">{% random_int 50 500 %}</span>
                                </div>
                            </li>
                            <li class="post-footer__item">
                                <div class="d-flex align-items-center">
                                    <img src="{% static 'vk_posts/img/share.svg' %}" class="post-share">
                                    <span class="post-share-count">{% random_int 10 100 %}</span>
                                </div>
                            </li>
                            <li class="post-footer__item">
                                <div class="d-flex align-items-center">
                                    <img src="{% static 'vk_posts/img/views.svg' %}" class="post-views">
                                    <span class="post-views-count">{% random_int 10 500 %}K</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}